.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.image {
    flex: 2;
    height: 300px;
    margin-right: 20px;
}

.info {
    flex: 3;
}

.MuiCardMedia-img {
    object-fit: contain !important;
}